<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MusicStoreEntities"
     connectionString="Data Source=D:\Development\LegacyCodeRescue\MvcMusicStore\App_Data\MvcMusicStore.sdf"
     providerName="System.Data.SqlServerCe.4.0"/>
  </connectionStrings>
</configuration>