*.user
obj
bin
_ReSharper*
*.suo
*.mdf
*.ldf
*.dotcover
*.user
FitNesse/*.dll
FitNesse/*.pdb
FitNesse/FitNesseRoot/ErrorLogs
FitNesse/FitNesseRoot/RecentChanges
FitNesse/FitNesseRoot/files/testProgress/
FitNesse/FitNesseRoot/files/testResults/
FitNesse/FitNesseRoot//*.zip
